.keyboard {
  position: relative;
  width: 17 * 7px;
  height: 50px;
}

.note {
  background: ivory;
  border: 1px solid #ddd;
  height: 50px;
  width: 15px;
  color: black;
  position: absolute;
  &.active {
    background: #eee;
  }
}

.sharp {
  background: darkgray;
  width: 7.5px;
  height: 25px;
  &.active {
    background: #999;
  }
}
